{% extends wrapper_template %}

{% block content %}
<div class="row">
    <div class="container main-container">
        <div id="contentColumn" class="col-md-12">

            <h1>Verification Failed 403</h1>

            {% if reason %}
              <p>{{ reason }}</p>
            {% else %}
              <p>Verification failed. Please try again.</p>
            {% endif %}

            <p>If you are human, please try again, and please <a href="{{ contact_url }}">Contact Us</a> if you continue to have issues.</p>

            <a href="/challenge?next={{ next_url }}" class="btn btn-primary btn-block">Retry</a>

        </div>
    </div>
</div>
{% endblock %}
